<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alcheringa Journal</title>
  <link rel="icon" href="https://scontent-bom1-2.xx.fbcdn.net/v/t1.0-9/82205719_2682178045153351_3143589458473910272_o.png?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=73bqfm3uzd0AX8Ex6pE&_nc_ht=scontent-bom1-2.xx&oh=2061ddaf28a18df9e871991bb2c73491&oe=5F790DF9">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
